  h1   {
      color:white;
      text-align:center;
      margin-top:40px;
  }
 .link-a {
     border:none;
     color:white;
      background-color: Transparent;
      margin-left:10px;
      cursor:pointer;
 }
 .link-a:hover{
     text-decoration: underline;
 }
     body {
  background-image: url("valorant hmtl logo.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
body {margin:0;}

.topnav {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(0,0,0);
position: fixed;
top: 0;
width: 100%;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
text-decoration: none;
transition: 0.15s;
padding: 14px 50px;
}
.agents:hover{
padding: 5px 5px 5px 5px;
  background-color:white;
}
.agentsbagros{
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  transition: 0.15s;
  font-size: 22px
}
.agentsbagros:hover{
background-color: rgba(128, 128, 128, 0.3);
text-decoration: underline;
text-decoration-color: #ff4655;
color: #ff4655;
}
.rito{
height: 35px;
}